# Copiar a infra/.env si necesitas variables para docker compose (PROD)
# cp .env.example .env

# Issuer OIDC que usa el gateway en perfil prod (debe coincidir con gateway-prod.yml)
KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/novamarket
