# Copiar a .env en esta carpeta para compose.yml (PROD)
# cp .env.example .env

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

KC_DB_NAME=keycloak_db
KC_DB_USER=keycloak
KC_DB_PASSWORD=keycloak
