# .env para el perfil prod

# Perfil de Spring Boot usado por el contenedor orden-ms
SPRING_PROFILES_ACTIVE=prod

# Config Server de la plataforma
CONFIG_SERVER_URL=http://market-config:8888

# Bootstrap server de Kafka usado por la aplicacion
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# Variables consumidas por la aplicacion: orden-ms
DB_NAME=market_orden_db
DB_USER=market
DB_PASS=market
